.home {
  text-align: center;
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 50px;
    .introleft {
      flex: 3;
      justify-content: flex-end;
      p {
        font-size: 18px;
        text-align: left;
      }
      h2 {
        color: red;
      }
      em {
        font-size: 20px;
        color: #0466c8;
        font-weight: bold;
      }
    }
    .introright {
      flex: 2;
      img {
        width: 300px;
      }
    }
  }
  hr {
    width: 18%;
    border: none;
    background-color: grey;
    height: 1px;
  }
  .title {
    margin: 40px auto 0 auto;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #0466c8;
    padding-top: 10px;
    padding-bottom: 10px;
    // background-color: #4361ee;
  }
  .advertise {
    img {
      width: 90%;
    }
    padding-top: 20px;
  }
  @media screen and (max-width: 950px) {
    .intro {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  @media screen and (max-width: 750px) {
    .intro {
      padding-left: 50px;
      padding-right: 50px;
    }
    .title {
      width: 70%;
    }
  }
  @media screen and (max-width: 750px) {
    .intro {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
