.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: white;
  color: white;

  .leftnav {
    .logonav {
      padding-left: 20px;
      flex: 1;
      display: flex;
      justify-content: center;
      img {
        height: 50px;
        width: 60px;
        border-color: none;
      }
    }
    .notActive {
      display: none;
    }
  }
  .rightnav {
    flex: 2;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    .navbartab {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #0077b6;
      font-size: 20px;
      font-weight: bold;
    }
    .navbartab:hover {
      background-color: aliceblue;
      color: #0077b6;
      border-radius: 5px;
    }
  }
  @media screen and (max-width: 750px) {
    display: flex;
    justify-content: space-between;
    .leftnav {
      flex: 1;
      .logonav {
        padding-left: 0px;
      }
    }
    .rightnav {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-top: 5px;

    .leftnav {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: space-between;
      .logonav {
        flex: 1;
        justify-content: flex-start;
      }
      .notActive {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        outline: none;
        border: none;
        background-color: transparent;
        img {
          width: 30px;
        }
      }
    }
    .rightnav {
      display: none;
    }
    .menuisActive {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #0077b6;
      button {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
      button:hover {
        color: rgb(200, 200, 200);
      }
    }
  }
}
// .navbarcolorChange {
//   position: sticky;
//   top: 0;
//   height: 60px;
//   display: flex;
//   align-items: center;
//   background-color: aliceblue;
//   color: #0077b6;
//   z-index: 1100;
//   border-bottom: 0.5px solid rgb(193, 193, 193);
//   .leftnav {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     img {
//       height: 50px;
//       width: 60px;
//       border-color: none;
//     }
//   }
//   .rightnav {
//     flex: 2;
//     display: flex;
//     padding-left: 150px;
//     padding-right: 150px;
//     justify-content: space-between;
//     .navbartab {
//       cursor: pointer;
//       background-color: transparent;
//       border: none;
//       color: #0077b6;
//       font-size: 20px;
//       font-weight: bold;
//     }
//     .navbartab:hover {
//       background-color: #0077b6;
//       color: white;
//       border-radius: 5px;
//     }
//   }
// }
