.footer {
  //   display: flex;
  //   flex-direction: column;
  // text-align: center;
  h1 {
    color: #003049;
  }
  .footer_info {
    display: flex;
    .leftfooter_info {
      h2 {
        color: #c1121f;
      }
      flex: 1;
      padding-left: 50px;
      padding-right: 50px;
      color: black;
      background-color: #fdf0d5;
    }
    // .rightfooter_info {
    //   flex: 1;
    //   display: flex;
    //   padding-left: 50px;
    //   padding-right: 50px;
    //   justify-content: space-between;
    // }
  }
}
